


.restify-logo {
    color: #FF8967;
    font-weight: bold;
}

.restify-logo:hover {
    color: #FFF;
}

.notif-icon {
    color: #FF8967;
}

#my-rentals-btn {
    color: #FF8967;
    border: 1px solid #FF8967;
}

#my-rentals-btn:hover {
    color: #FFF;
    background-color: #FF8967;
}

#profile-pic-navbar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

#user-fn {
    margin: 0;
}

.btn-theme {
    color: #c3c3c3;
    background-color: #FFF;
}

.btn-theme:hover {
    color: #FFF;
    background-color: #FF8967;
}

.property-image {
    width:40vh;
    height: 40vh;
}

.price-tag{
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.back-button{
    font-size:30px;
    color:#FFF;
    background-color: #FF8967;
    border-color:#FFF;
    position:absolute;
    bottom:0px;
    right:0px;
}

.back-button:hover{
    background-color: #FFF;
    color:#FF8967;
    border-color:#FF8967;
}

.col{
    margin:10px;
}
.row{
    margin:10px;
}

.book-button{
    font-size:30px;
    color:#FFF;
    background-color: #FF8967;
    border-color:#FFF;
}

.book-button:hover{
    background-color: #FFF;
    color:#FF8967;
    border-color:#FF8967;
}

.rating-number{
    font-size: 16px;
    color:#FF8967;
}

.slideshow {
    width: 45vh;
    height: 45vh;
    background-color: #eeeeee;
    margin: auto;
    background-image: url("../images/house2.jpg");
    animation-name: slide;
    animation-duration: 20s;
    animation-direction:normal;
    animation-timing-function:ease-in-out;
    animation-iteration-count: infinite;
  }
  @keyframes slide {
    0% {
      background-position: 0 0;
    }
    16.66% {
      background-position: 0 0;
    }
    49.98% {
      background-position: -800px 0;
    }
    83.30% {
      background-position: -1600px 0;
    }
    100% {
      background-position: 0 0;
    }
  }