/* Header Begin */
.restify-logo {
    color: #FF8967;
    font-weight: bold;
}

.restify-logo:hover {
    color: #000000;
    text-decoration: none;
}

.notif-icon {
    color: #FF8967;
    cursor: pointer;
}

.notif-icon:hover {
    display: none;
}

.notif-icon ~ .notif-icon-fill {
    display: none;
}

.notif-icon:hover ~ .notif-icon-fill {
    display: inline-block;
}

.notif-icon-fill {
    color: #FF8967;
}

.dropdown-card {
    position: relative;
}

.dropdown-card > a {
    color: #FF8967;
    cursor: pointer;
}

.account-dropdown-item > a {
    color: #000;
}

.dropdown-card > a:hover {
    text-decoration: none;
}

#my-rentals-btn {
    color: #FF8967;
    border: 1px solid #FF8967;
}

#my-rentals-btn:hover {
    color: #FFF;
    background-color: #FF8967;
}

#my-rentals-btn{
    padding: 15px 22px;
    border-radius: 10px;
    font-weight: 500;
    text-align: center;
    line-height: 130%;
}

#my-rentals-btn:hover {
    color: #FFF;
    background-color: #FF8967;
    text-decoration: none;
}

#profile-pic-navbar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

#user-fn {
    color: #000;
    margin: 0;
}

#user-fn:hover {
    color: #FF8967;
    text-decoration: none;
}
/* Header End */

/* Footer Begin */
.footer {
    color: #FFF;
    font-weight: 500;
}
/* Footer End */


/* Responsive */
@media screen and (max-width: 768px) {
    #my-rentals-btn {
        display: none;
    }

    #my-rentals-icon {
        color: #FF8967;
        cursor: pointer;
    }

    #my-rentals-icon:hover {
        display: none;
    }

    #my-rentals-icon ~ #my-rentals-icon-fill {
        display: none;
    }

    #my-rentals-icon:hover ~ #my-rentals-icon-fill {
        display: inline-block;
    }

    #my-rentals-icon-fill {
        color: #FF8967;
    }

    #navbar-index {
        margin-left: 0.25rem !important;
        margin-right: 0.25rem !important;
    }
}

@media screen and (min-width: 768px) {
    #my-rentals-icon {
        display: none;
    }

    #my-rentals-icon-fill {
        display: none;
    }
}