/* Set Homepage Background */
body {
    background: url(https://pbs.twimg.com/media/D9P5k6PXYAAhT4U?format=jpg&name=4096x4096) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

p {
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.search-bar {
    border: 1px solid #FF8967;
    border-radius: 10px;
    background-color: #FFF;
}

.search-bar-heading {
    font-weight: bold;
}

.search-category {
    color: #FFF;
}

.vl {
    border-left: 1px solid #FF8967;
    height: auto;
}

.btn-theme {
    color: #c3c3c3;
    background-color: #FFF;
}

.btn-theme:hover {
    color: #FFF;
    background-color: #FF8967;
}

#search-btn {
    color: #FFF;
    background-color: #FF8967;
    border: 1px solid #FF8967;
}

#index-footer {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(100, 100, 100));
}