html,
body {
    margin:0;
    padding:0;

    align-items: center;
    justify-content: center;
}

main {
    position: relative;
    height: 100%;

    display: -ms-flexbox;
    display: -webkit-box;

    display: flex;
    align-items: center;
    justify-content: center;

    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

h2 {
    text-align: center;
}


.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}


.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 15px;
  font-size: 16px;
  border-color: #FF8967;
  border-width: 2px;
  border-radius: 10px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

/* when the input is clicked */
.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgb(255, 137, 103, 0.5);
}

.form-signin input {
  margin-bottom: 12px;
  color: #FF8967;
}

.form-signin input[id="confirm_password"] {
    margin-bottom: 16px;
}

p {
    margin-top: 1rem;
    font-size: 14px;
}

.btn-filled{
    padding: 15px 22px;  
    background: #FF8967;
    color: white;
    font-size: 16px;
    font-weight: 500;

    width: inherit;

    border-radius: 10px;

    border-width: 0;
    cursor: pointer;
}