p {
    margin-bottom: 0;
}

.restify-logo {
    color: #FF8967;
    font-weight: bold;
}

.restify-logo:hover {
    color: #7e7e7e;
}

.notif-icon {
    color: #FF8967;
}

#my-rentals-btn {
    color: #FF8967;
    border: 1px solid #FF8967;
}

#my-rentals-btn:hover {
    color: #FFF;
    background-color: #FF8967;
}

#profile-pic-navbar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

#user-fn {
    margin: 0;
    color: #000;
}

#user-fn:hover {
    color: #FF8967;
    text-decoration: none;
}

.settings-card {
    background: #FFFFFF;
    box-shadow: 0px 1px 10px rgba(17, 10, 8, 0.15);
    border-radius: 20px;
}

.settings-card:hover {
    box-shadow: 0px 1px 20px rgba(224, 130, 103, 0.63);
}

.settings-icon {
    color: #FF8967;
}

#profile-footer {
    color: #000000;
    font-weight: 500;
}