a {
    text-decoration: none;
    color: #FF8967;
}

a:hover {
    color: #000;
    text-decoration: none;
}

textarea {
    resize: none;
}

.review-card {
    width: 49% !important;
}

.review-card-right {
    margin-left: 2% !important;
}

.btn-theme {
    background-color: #FF8967;
    color: #fff;
}

#reviews-footer {
    color: #000000;
    font-weight: 500;
}